html,
body,
#root {
    height: 100%;
}

header {
    text-align: center;
}

main {
    height: calc(100vh - 104px - 19px);
    margin-top: 104px;
    padding-top: 40px;
}

footer {
    text-align: center;
}

.text-capitalize {
    text-transform: capitalize;
}

.MuiSelect-select {
    text-transform: capitalize;
}
